[submodule "WaveNet"]
	path = WaveNet
	url = https://github.com/ibab/tensorflow-wavenet
[submodule "TensorFlow"]
	path = TensorFlow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "WaveNetFast"]
	path = WaveNetFast
	url = https://github.com/tomlepaine/fast-wavenet.git
